---
layout: page
title: Portfolio
permalink: /portfolio/
index: 98
---

This portfolio is about my personal projects only.
None of my professional project are listed below.

{% assign all_categories = site.portfolio | map: "category" | uniq %}
{% for category in all_categories %}
<h2>{{ category }}</h2>
<div class="porfolio-grid">
{% for portfolio in site.portfolio | where: "category", category %}
    {{ portfolio.output }}
{% endfor %}
</div>
{% endfor %}

<!--

## iOS Apps

include portfolio_item.html
    title="KSP Companion"
    github="Dean151/KSP-Companion-iOS"
    description="Little physic tool to help performing transplanetary injections in Kerbal Space Program. Wasn't open-sourced before it got removed from the AppStore by KSP owners."


include portfolio_item.html
    title="Minimal Minesweeper"
    github="Dean151/Minesweeper-iOS"
    appstore="https://apps.apple.com/us/app/minimal-minesweeper/id1029488767"
    description="Minimalist implementation of a Minesweeper for iOS using SpriteKit."


include portfolio_item.html
    title="Eurodisney iOS"
    github="Dean151/Eurodisney-iOS"
    description="Very simple app to provide wait times & opening times & show times at Disneyland Paris. It used my own API ; now down."


## Internet of Things

{% capture description %}
A replacement API intended to communicate with my cat feeder machine ; because the original API was full of <a href="{{ post_url 2018-01-31-how-anyone-could-feed-my-cat }}">security flaws</a>.
{% endcapture %}
include portfolio_item.html
    title="Aln Node.js"
    github="Dean151/Aln-NodeJs"
    description=description


## Websites

- https://github.com/Dean151/Dean-Blog
- hogwarts.io
- cafelembas.com
- https://github.com/Dean151/Affres-de-Reivax

## Advent of code

{% capture description %}
A starter project to solve <a href="https://adventofcode.com">Advent of Code</a> puzzles using Swift programming language.
{% endcapture %}
include portfolio_item.html
    title="Advent of Code Swift Starter"
    github="Dean151/Advent-of-code-Swift-Starter"
    description=description


{% capture description %}
My solutions to <a href="https://adventofcode.com/2019">2019 Advent of Code</a> challenge in Swift programming language.
{% endcapture %}
include portfolio_item.html
    title="Advent of Code 2019"
    github="Dean151/Advent-of-code-2019"
    description=description


{% capture description %}
My solutions to <a href="https://adventofcode.com/2018">2018 Advent of Code</a> challenge in Swift programming language.
{% endcapture %}
include portfolio_item.html
    title="Advent of Code 2018"
    github="Dean151/Advent-of-code-2018"
    description=description


{% capture description %}
My solutions to <a href="https://adventofcode.com/2017">2017 Advent of Code</a> challenge in Swift programming language.
{% endcapture %}
include portfolio_item.html
    title="Advent of Code 2017"
    github="Dean151/Advent-of-code-2017"
    description=description


## iOS Experiments

- https://github.com/Dean151/Sudoku-Solver
- https://github.com/Dean151/PDF-reader-iOS

## Student projects

- https://github.com/Dean151/Go-game
- https://github.com/Dean151/Project-Milano
- https://github.com/Dean151/Connect-Four

[advent-of-code-2019]: https://adventofcode.com/2019
[advent-of-code-2018]: https://adventofcode.com/2018
[advent-of-code-2017]: https://adventofcode.com/2017
-->