<div class="edit-section">
    <h3><a href="https://github.com/Dean151/Dean-Blog/edit/master/{{ page.path }}" rel="nofollow" target="_blank" title="Edit on GitHub">Edit</a> or share this {% if page.layout == 'post' %}story{% else %}page{% endif %}:</h3>
    <ul>
        <li class="t">
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;via={{ site.twitter_username | url_encode }}&amp;related={{ site.twitter_username | url_encode }}" rel="nofollow" target="_blank" title="Share on Twitter">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li class="f">
            <a href="https://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <span class="fa fa-facebook-official"></span>
            </a>
        </li>
        <li class="l">
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;title={{ page.title | url_encode }}&amp;summary={% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | url_encode }}{% else %}{{ site.description | url_encode }}{% endif %}&amp;source={{ site.url | url_encode }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
                <span class="fa fa-linkedin-square"></span>
            </a>
        </li>
    </ul>
</div>
