<div class="edit-section">
    <h3><a href="https://github.com/Dean151/Dean-Blog/edit/master/{{ page.path }}" rel="nofollow" target="_blank" title="Edit on GitHub">Edit</a> or share this {% if page.layout == 'post' %}story{% else %}page{% endif %}:</h3>
    <ul>
        <li class="t">
            <a rel="nofollow" target="_blank" title="Share this {% if page.layout == 'post' %}story{% else %}page{% endif %}" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;via={{ site.twitter | url_encode }}&amp;related={{ site.twitter | url_encode }}">
                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#t' | relative_url }}"></use></svg>
            </a>
        </li>
        <li class="f">
            <a rel="nofollow" target="_blank" title="Share this {% if page.layout == 'post' %}story{% else %}page{% endif %}" href="https://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}">
                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#f' | relative_url }}"></use></svg>
            </a>
        </li>
        <li class="l">
            <a rel="nofollow" target="_blank" title="Share this {% if page.layout == 'post' %}story{% else %}page{% endif %}" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;title={{ page.title | url_encode }}&amp;summary={% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | url_encode }}{% else %}{{ site.description | url_encode }}{% endif %}&amp;source={{ site.url | url_encode }}">
                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#l' | relative_url }}"></use></svg>
            </a>
        </li>
    </ul>
</div>
