<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="/assets/design/dean.jpg" class="profile-picture" alt="Profile picture">
        <h2 class="footer-heading">{{ site.author }}</h2>
        <ul class="description-list">
            <li>Software architect, code owner and security engineer at <a href="https://www.dilitrust.com/" target="_blank">DiliTrust</a> in Paris.</li>
            <li>Co-creator of a french amateur audiodrama, <a href="https://www.cafelembas.com/" target="_blank">Café & Lembas</a>.</li>
            <li>iOS and web developer, keen photographer, currently in love with <a href="https://swift.org/">Swift</a>.</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          {%- if site.twitter %}
          <li>
              <a href="https://twitter.com/{{ site.twitter | site.twitter | escape }}" title="{{ site.twitter | escape }}" target="_blank" rel="nofollow"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#t' | relative_url }}"></use></svg>{{ site.twitter }}</a>
          </li>
          {%- endif -%}
          {%- if site.github %}
          <li>
              <a href="https://github.com/{{ site.github | cgi_escape | escape }}" title="{{ site.github | escape }}" target="_blank" rel="nofollow"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#g' | relative_url }}"></use></svg>{{ site.github }}</a>
          </li>
          {%- endif -%}
          {%- if site.stackoverflow %}
          <li>
              <a href="https://stackoverflow.com/users/{{ site.stackoverflow | cgi_escape | escape }}" title="{{ site.stackoverflow_name }}" target="_blank" rel="nofollow"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#s' | relative_url }}"></use></svg>{{ site.stackoverflow_name }}</a>
          </li>
          {%- endif -%}
          {%- if site.linkedin %}
          <li>
              <a href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}" title="{{ site.linkedin | escape }}" target="_blank" rel="nofollow"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#l' | relative_url }}"></use></svg>{{ site.linkedin }}</a>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>

  </div>

</footer>

<script src="{{ '/assets/js/scripts.js' | relative_url }}?v={{ 'now' | date: "%Y%m%d%H%M" }}"></script>
{% unless site.url contains "localhost" %}
<script>
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl', '/p/']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.defer=true; g.src='/p/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="/p/?idsite=14&rec=1" style="border:0;" alt="" /></p></noscript>
{% endunless %}
