<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="/assets/pictures/dean.jpg" class="profile-picture" alt="Profile picture">
        <h2 class="footer-heading">Thomas Durand (a.k.a. Dean)</h2>
        <ul class="contact-list">
            <li>Software architect, code owner and security engineer at <a href="https://www.dilitrust.com/" target="_blank">DiliTrust</a> in Paris.</li>
            <li>Co-creator of a french amateur audiodrama, <a href="https://www.cafelembas.com/" target="_blank">Café & Lembas</a>.</li>
            <li>iOS and web developer, keen photographer, currently in love with <a href="https://swift.org/">Swift</a>.</li>
        </ul>
      </div>
      
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}"><span class="fa fa-github"></span> <span class="username">{{ site.github_username }}</span></a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter"></span> <span class="username">{{ site.twitter_username}}</span></a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="fa fa-linkedin"></span> <span class="username">{{ site.linkedin_username}}</span></a>
          </li>
          {% endif %}
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}"><span class="fa fa-envelope-o"></span> <span class="username">{{ site.email }}</span></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>

{% unless site.url contains "localhost" %}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl', '/p/']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.defer=true; g.src='/p/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="/p/?idsite=14&rec=1" style="border:0;" alt="" /></p></noscript>
{% endunless %}
