{%- assign url = page.url | replace:'index.html','' | absolute_url -%}
{%- assign image = '/assets/design/favicon192.png' | relative_url -%}
{%- capture title -%}{%- if page.title -%}{{ page.title | append: ' — ' | escape }}{%- endif -%}{{ site.title | escape }}{%- endcapture -%}
{%- capture description -%}{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}{%- endcapture -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/assets/design/favicon.png" />

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description  }}">
  <meta itemprop="image" content="{{ image }}">

  <meta property="og:url" content="{{ url }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{  description  }}">
  <meta property="og:image" content="{{ image }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{  description  }}">
  <meta name="twitter:image" content="{{ image }}">

  <meta name="apple-mobile-web-app-title" content="{{ site.title | escape }}">
  {%- assign iossizes = "57,76,120,152,167,180" | split: "," -%}
  {% for size in iossizes %}
  <link rel="apple-touch-icon" sizes="{{size}}x{{size}}" href="{{ size | prepend: '/assets/design/favicon' | append: '.png' | relative_url }}">
  {%- endfor %}

  {%- assign androidsizes = "192,128" | split: "," -%}
  {% for size in androidsizes %}
  <link rel="icon" sizes="{{size}}x{{size}}" href="{{ size | prepend: '/assets/design/favicon' | append: '.png' | relative_url }}">
  {%- endfor %}

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}?v={{ 'now' | date: "%Y%m%d%H%M" }}">
  <link rel="canonical" href="{{ url }}">
  {% feed_meta %}
</head>
