<section class="portfolio-item">
<h4>
{% if include.github -%}
<a href="https://github.com/{{ include.github | escape }}" title="{{ include.github | escape }}" target="_blank" rel="nofollow"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#g' | relative_url }}"></use></svg>
{%- endif -%}
{{ include.title }}
{%- if include.github -%}
</a>
{%- endif %}
</h4>
<div>
<p>{{ include.description }}</p>
{% if include.image -%}
<img src="{{ include.image }}" alt="{{ include.title | escape }}">
{%- endif %}
</div>
</section>
