body {
    background-color: $background-color;
}

/**
 * Site header
 */
.site-header {
    background-color: $main-green-color;
    color: white;

    border-top: 5px solid $main-green-color-light;
    border-bottom: 1px solid $main-green-color-dark;
    min-height: 56px;

    padding-bottom: $spacing-unit * 1.5;
    margin-bottom: -($spacing-unit * 1.5);
}

.site-title {
    color: $title-color;
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    opacity: 0.8;
}

.site-title:hover {
    opacity: 1;
}

.site-nav {
    float: right;
    line-height: 60px;

    .page-link {
        color: $title-color;
        line-height: $base-line-height;
        opacity: 0.8;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link:hover {
        color: $title-color;
        opacity: 1;
    }
}

/**
 * Page content
 */
.page-content {
    padding: 0 0;

    .wrapper {
        padding: $spacing-unit;
        background-color: $content-back-color;
        border-color: $border-color;
        box-shadow: 0 1px 5px 1px rgba(150, 150, 150, 0.1);
    }
}

.page-heading {
    font-size: $title-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    .post-link {
        display: inline;
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-date {
        font-size: $large-font-size;
        padding-left: 60px;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-link::before {
  content: '● ';
  display: inline-block;
  color: $brand-color;
}

.post-link:visited::before {
  color: $content-back-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    .post-title {
        font-size: $title-font-size;
        letter-spacing: -1px;
        line-height: 1;
    
        @include media-query($on-laptop) {
            font-size: $title-font-size;
        }
    }
}

.post-date {
    display: inline-block;

    background: $main-green-color-light;
    color: white;
    font-size: $small-font-size;
    text-align: right;

    position: relative;
    padding: 2px $spacing-unit/2 2px ($spacing-unit+13);
    margin-left: -($spacing-unit+13);

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.post-date:after {
    content: " ";

    position: absolute;
    left: 0;

    bottom: -10px;
    border-style: solid;
    border-width: 10px 0 0 13px;
    border-color: $sec-green-color-dark transparent transparent transparent;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        margin-top: $spacing-unit;
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        display: block;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 1px 4px 1px rgba(150, 150, 150, 0.3);
        border-radius: 4px;
    }
}

/**
 * Share post
 */

.share-section {

    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: $base-font-size * 1.5;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin-left: 15px;
    }

    ul li.share-button {
        display: inline-block
    }

    ul li.share-button a {
        border-radius: 4px;
        font-size: $large-font-size;
        text-align: center;

        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        transition: background-color color;
    }

    ul li.share-button:hover a {
        color: white;
        text-decoration: none;

        transition: 0.3s color;
    }

    ul li.share-button a span.title {
        font-size: 14px;
    }

    .share-message a {
        border-color: #4cd964;
        color: #4cd964;
    }
    .share-message a:hover {
        background-color: #4cd964;
    }
    .share-mail a {
        border-color: #1d77ef;
        color: #1d77ef;
    }
    .share-mail a:hover {
        background-color: #1d77ef;
    }
    .share-twitter a {
        border-color: #55acee;
        color: #55acee;
    }
    .share-twitter a:hover {
        background-color: #55acee;
    }
    .share-facebook a {
        border-color: #3b5998;
        color: #3b5998;
    }
    .share-facebook a:hover {
        background-color: #3b5998;
    }
    .share-linkedin a {
        border-color: #008cc9;
        color: #008cc9;
    }
    .share-linkedin a:hover {
        background-color: #008cc9;
    }
    .share-whatsapp a {
        border-color: #25D366;
        color: #25D366;
    }
    .share-whatsapp a:hover {
        background-color: #25D366;
    }
}

/**
 * Link anchors
 */

.post-link-anchor {
    display: inline-block;
    opacity: 0;
    line-height: 1em;
    font-size: 0.8em;

    transition: opacity 0.3s;
}

h1:hover .post-link-anchor,
h2:hover .post-link-anchor,
h3:hover .post-link-anchor,
h4:hover .post-link-anchor,
h5:hover .post-link-anchor,
h6:hover .post-link-anchor {
    opacity: 1;
}

.post-link-anchor:hover, .post-link-anchor:focus {
    text-decoration: none;
}


/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.profile-picture {
    width: 100px;
    height: 100px;

    float: left;
    margin-right: $spacing-unit / 2 !important;
    border-radius: 50% !important;
    box-shadow: none;
}

.contact-list,
.social-media-list {
    list-style: none;
}
.contact-list {
    margin-left: 100 + ($spacing-unit / 2);
}
.social-media-list {
    margin-left: 0;
}

.social-media-list li a span.icon {
    display: block;
    float: left;
    width: 21px;
}

.footer-col-wrapper {
    font-size: $small-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .profile-picture {
        width: 50px;
        height: 50px;
    }
    .contact-list {
        margin-left: 50px + ($spacing-unit / 2);
    }
    .footer-col-1 {
        width: -webkit-calc(100% - 185px - (#{$spacing-unit}));
        width:         calc(100% - 185px - (#{$spacing-unit}));
    }
    .footer-col-2 {
        width: 185px;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .social-media-list {
        margin-left: 50px + ($spacing-unit / 2);
    }
}
