
/**
 * Site header
 */
.site-header {
    background-color: $main-green-color;
    color: white;

    border-top: 5px solid $main-green-color-light;
    border-bottom: 1px solid $main-green-color-dark;
    min-height: 56px;

    padding-bottom: $spacing-unit * 1.5;
    margin-bottom: -($spacing-unit * 1.5);

    .site-title {
        color: $title-color;
        font-size: 26px;
        font-weight: 300;
        line-height: 56px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        @media (prefers-color-scheme: dark) {
            color: $dark-title-color;
        }
    }

    .site-nav {
        float: right;
        line-height: 60px;

        .page-link {
            color: $title-color;
            line-height: $base-line-height;
            opacity: 0.8;

            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 20px;
            }

            @media (prefers-color-scheme: dark) {
                color: $dark-title-color;
            }
        }

        .page-link:hover {
            color: $title-color;
            opacity: 1;

            @media (prefers-color-scheme: dark) {
                color: $dark-title-color;
            }
        }
    }
}


/**
 * Page content
 */
.page-content {
    padding: 0 0;

    .wrapper {
        padding: $spacing-unit;
        background-color: $content-back-color;
        box-shadow: 0 1px 5px 1px rgba(150, 150, 150, 0.1);

        @media (prefers-color-scheme: dark) {
            background-color: $dark-content-back-color;
            box-shadow: none;
        }
    }
}

.page-heading {
    font-size: $title-font-size;

    a {
        color: $grey-color;
        font-size: $large-font-size;

        display: inline-flex;
        align-items: center;

        &:hover, &:focus {
            color: $main-green-color;
            text-decoration: none;

            .hidden-text {
                font-size: $base-font-size;
            }
        }

        .svg-icon {
            width: 18px;
            height: 18px;
            padding: 2px;
            margin-right: 3px;
        }

        .hidden-text {
            font-size: 0;
            transition: font-size .3s;
        }

        &.rss-feed:hover, &.rss-feed:focus {
            color: #ee802f;
        }

        @media (prefers-color-scheme: dark) {
            color: $dark-grey-color;
        }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    .post-date {
        font-size: $large-font-size;
        padding-left: 60px;
    }

    > li {
        margin-bottom: $spacing-unit;
    }

    .post-meta {
        display: inline-block;
        font-size: $small-font-size;
        color: $grey-color;

        @media (prefers-color-scheme: dark) {
            color: $dark-grey-color;
        }
    }

    .post-link {
        display: inline-flex;
        align-items: center;
        font-size: 24px;

        &::before {
            content: '';
            display: block;
            background: $brand-color;

            width: 14px;
            height: 14px;
            border-radius: 7px;
            margin-right: 8px;

            @media (prefers-color-scheme: dark) {
                background: lighten($brand-color, 15%);
            }
        }

        &:visited::before {
            background: $content-back-color;

            @media (prefers-color-scheme: dark) {
                background: $dark-content-back-color;
            }
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    .post-title {
        font-size: $title-font-size;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: $title-font-size;
        }
    }
}

.post-date {
    display: inline-block;

    background: $main-green-color-light;
    color: rgba($title-color, .95);
    font-size: $small-font-size;
    text-align: right;

    position: relative;
    padding: 2px $spacing-unit/2 2px ($spacing-unit+13);
    margin-left: -($spacing-unit+13);

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    @media (prefers-color-scheme: dark) {
        color: $dark-title-color;
    }
}

.post-date:after {
    content: " ";

    position: absolute;
    left: 0;

    bottom: -10px;
    border-style: solid;
    border-width: 10px 0 0 13px;
    border-color: $sec-green-color-dark transparent transparent transparent;

    @media (prefers-color-scheme: dark) {
        border-color: $main-green-color-dark transparent transparent transparent;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3, h4, h5, h6 {
        display: flex;
    }

    h2 {
        margin-top: $spacing-unit;
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        display: block;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 1px 4px 1px rgba(150, 150, 150, 0.3);
        border-radius: 4px;
    }
}

/**
 * Edit & Share post
 */
.edit-section {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-query($on-palm) {
        flex-flow: column;
    }

    h3 {
        font-size: $base-font-size * 1.5;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin-left: 15px;

        @include media-query($on-palm) {
            margin-left: 0;
        }
    }

    ul li {
        display: inline-block;

        a {
            border-radius: 4px;
            font-size: $large-font-size;
            text-align: center;

            width: 34px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            transition: background-color;

            .svg-icon {
                width: 20px;
                height: 20px;
                padding: 4px;
            }

            @media (prefers-color-scheme: dark) {
                color: white !important;
            }
        }

        &.t a {
            border-color: $twitter-brand-color;
            color: $twitter-brand-color;

            &:hover {
                background-color: $twitter-brand-color;
            }
        }
        &.f a {
            border-color: $facebook-brand-color;
            color: $facebook-brand-color;

            &:hover {
                background-color: $facebook-brand-color;
            }
        }
        &.l a {
            border-color: $linkedin-brand-color;
            color: $linkedin-brand-color;

            &:hover {
                background-color: $linkedin-brand-color;
            }
        }

        &:hover a {
            color: white;
            text-decoration: none;

            transition: 0.3s color;
        }
    }
}

/**
 * Link anchors
 */

.post-link-anchor {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    opacity: 0;

    color: $grey-color;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(10px);

    margin-left: -$spacing-unit;
    width: $spacing-unit;

    &:visited {
        color: $grey-color;
    }

    &:hover, &:focus {
        color: $main-green-color;
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: $dark-grey-color;

        &:visited {
            color: lighten($brand-color, 10%);
        }

        &:hover {
            color: lighten($brand-color, 5%);
            text-decoration: underline;
        }
    }
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover  {
    .post-link-anchor {
        opacity: 1;
        transform: translateX(0px);
    }
}


/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    @media (prefers-color-scheme: dark) {
        border-top-color: $dark-grey-color-dark;
    }

    .profile-picture {
        width: 100px;
        height: 100px;

        float: left;
        margin-right: $spacing-unit / 2 !important;
        border-radius: 50% !important;
        box-shadow: none;
    }

    .footer-heading {
        font-size: 18px;
        margin-bottom: $spacing-unit / 2;
    }

    .description-list,
    .contact-list {
        list-style: none;
    }
    .description-list {
        margin-left: 100 + ($spacing-unit / 2);
    }
    .contact-list {
        margin-left: 0;
    }

    .footer-col-wrapper {
        font-size: $small-font-size;
        color: $grey-color;
        margin-left: -$spacing-unit / 2;
        @extend %clearfix;

        @media (prefers-color-scheme: dark) {
            color: $dark-grey-color;
        }

        .footer-col {
            float: left;
            margin-bottom: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;
        }
        .footer-col-1 {
            width: calc(75% - (#{$spacing-unit} / 2));
        }
        .footer-col-2 {
            width: calc(25% - (#{$spacing-unit} / 2));
        }
    }

    @include media-query($on-laptop) {
        .footer-col-wrapper  {
            .footer-col-1 {
                width: calc(100% - 195px - (#{$spacing-unit}));
            }
            .footer-col-2 {
                width: 195px;
            }
        }
        .profile-picture {
            width: 50px;
            height: 50px;
        }
        .description-list {
            margin-left: 50px + ($spacing-unit / 2);
        }
    }

    @include media-query($on-palm) {
        .footer-col-wrapper .footer-col {
            float: none;
            width: calc(100% - (#{$spacing-unit} / 2));
        }
        .contact-list {
            margin-left: 50px + ($spacing-unit / 2);
        }
    }

}
