/**
 * Syntax highlighting styles
 */
.highlight {
    @extend %vertical-rhythm;

    .c,  // Comment
    .cm, // Comment.Multiline
    .c1, // Comment.Single
    .cs  // Comment.Special
    {
        color: #007400;

        @media (prefers-color-scheme: dark) {
            color: #00d200
        }
    }
    .err // Error
    {
        color: #a61717;
        background-color: #e3d2d2
    }
    .k, // Keyword
    .kd // Keyword.Declaration
    {
        color: #AA0D91;

        @media (prefers-color-scheme: dark) {
            color: #f257d9;
        }
    }
    .cp // Comment.Preproc
    {
        color: #643820
    }
    .gd // Generic.Deleted
    {
        color: #000;
        background-color: #fdd
    }
    .gd .x // Generic.Deleted.Specific
    {
        color: #000;
        background-color: #faa
    }
    .gr, // Generic.Error
    .gt  // Generic.Traceback
    {
        color: #a00
    }
    .gh, // Generic.Heading
    .bp // Name.Builtin.Pseudo
    {
        color: #999
    }
    .gi // Generic.Inserted
    {
        color: #000;
        background-color: #dfd
    }
    .gi .x // Generic.Inserted.Specific
    {
        color: #000;
        background-color: #afa
    }
    .go // Generic.Output
    {
        color: #888
    }
    .gp, // Generic.Prompt
    .nn  // Name.Namespace
    {
        color: #555
    }
    .gu // Generic.Subheading
    {
        color: #aaa
    }
    .kt // Keyword.Type
    {
        color: #5C2699;

        @media (prefers-color-scheme: dark) {
            color: #b899e3;
        }
    }
    .m, // Literal.Number
    .mf, // Literal.Number.Float
    .mh, // Literal.Number.Hex
    .mi, // Literal.Number.Integer
    .mo // Literal.Number.Oct
    {
        color: #1C00CF;

        @media (prefers-color-scheme: dark) {
            color: #07acff;
        }
    }
    .s, // Literal.String
    .sb, // Literal.String.Backtick
    .sc, // Literal.String.Char
    .sd, // Literal.String.Doc
    .s2, // Literal.String.Double
    .se, // Literal.String.Escape
    .sh, // Literal.String.Heredoc
    .si, // Literal.String.Interpol
    .sx, // Literal.String.Other
    .s1 // Literal.String.Single
    {
        color: $simple-code-color;

        @media (prefers-color-scheme: dark) {
            color: $dark-simple-code-color;
        }
    }
    .na // Name.Attribute
    {
        color: #836C28
    }
    .nb // Name.Builtin
    {
        color: #0086B3;

        @media (prefers-color-scheme: dark) {
            color: #2dcaff;
        }
    }
    .nc, // Name.Class
    .vc  // Name.Variable.Class
    {
        color: #3F6E74
    }
    .no, // Name.Constant
    .nv, // Name.Variable
    .vg, // Name.Variable.Global
    .vi  // Name.Variable.Instance
    {
        color: #008080;

        @media (prefers-color-scheme: dark) {
            color: #05bbe9;
        }
    }
    .ni // Name.Entity
    {
        color: #800080
    }
    .ne // Name.Exception
    {
        color: #900
    }
    .nf // Name.Function
    {
        color: #26474B;

        @media (prefers-color-scheme: dark) {
            color: #2bddca;
        }
    }
    .nt // Name.Tag
    {
        color: #000080;

        @media (prefers-color-scheme: dark) {
            color: #b3b3ff;
        }
    }
    .w // Text.Whitespace
    {
        color: #bbb
    }
    .sr // Literal.String.Regex
    {
        color: #009926
    }
    .ss // Literal.String.Symbol
    {
        color: #990073
    }
    .il // Literal.Number.Integer.Long
    {
        color: #099
    }

    .ge // Generic.Emph
    {
        font-style: italic
    }

    .o {} // Operator
    .kc {} // Keyword.Constant
    .kp {} // Keyword.Pseudo
    .kr {} // Keyword.Reserved
    .gs {} // Generic.Strong
    .ow {} // Operator.Word
}
