---
layout: default
---
<div class="home">

    <h1 class="page-heading">Stories
        <a href="{{ '/feed.xml' | relative_url }}" class="rss-feed" title="RSS Feed" target="_blank">
        <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/design/icons.svg#r' | relative_url }}"></use></svg>&nbsp;<span class="hidden-text">Feed</span>
        </a>
    </h1>

    <ul class="post-list">
        {% for post in site.posts %}{% assign this_year = post.date | date: "%Y" %}{% assign next_year = post.previous.date | date: "%Y" -%}
        {%- if forloop.first -%}
        <li>
            <p class="post-date">{{ post.date | date: "%Y" }}</p>
        {%- endif %}
            <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d" }}</span>
            </h2>
        {%- if forloop.last %}
        </li>
        {%- elsif this_year != next_year %}
        </li>
        <li>
            <p class="post-date">{{ next_year }}</p>
        {%- endif %}
        {% endfor %}
    </ul>

</div>
